/* 
    Document   : trafikk
    Created on : Nov 12, 2011, 12:26:41 PM
    Author     : bovan
    Description:
        main stylesheet
*/
html, body {
    overflow: hidden;
}
.ui-content {
    padding: 0;
}